{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block title %}
gallerie|vh-cam:yaoundé
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="wrap_rempl">
        </div>
        <form method="POST" id="form-search-date" action="{% url 'gallerie:gallerie_index' %}">
            {% for field in form %}
            <div class="form-group">
                {% csrf_token %}
                {% render_field field type="date" class="form-control" required="required" id="gallerie-input-date" %}
                <small id="passwordHelpBlock" class="form-text text-muted">
                    veuillez selectionner
                </small>
            </div>
            {% endfor %}
            <button style="height: max-content;" type="submit" class="btn btn-success">Go</button>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-10">
        <h2 class="h-deco">
            {% if date_req %}
                Images du {{ date_req|date:"d/m/Y" }}
            {% else %}
                Tout les images
            {% endif %}   
        </h2>
    </div>
    <div class="col-md-2">
        <a href="{% url 'gallerie:gallerie_add_image_gallerie' %}" class="btn btn-success">Ajouter une image</a>
    </div>
</div>
<div class="row mt-3">
    {% for im in images %}
    <div class="col-lg-3 col-md-6">
        <div class="wrap_detail_img gallerie-btn-detail" 
            data-url="{% url 'gallerie:gallerie_detail_image' im.id %}"
            style="background-image: url({{ im.image.url }});
                                background-position: center;
                                background-repeat: no-repeat;
                                background-size: cover;
                                box-shadow: 0 2px 7px rgba(0,0,0,.2);">
        </div>
        
    </div>
    {% empty %}
    <div class="col-md-12 mt-5">
        <h2 style="text-align: center;">Pas d'image pour le moment</h2>
    </div>
    {% endfor %}
</div>
<div class="row mb-5"></div>

<div class="modal fade" id="modal-image">
    <div class="modal-dialog modal-image-dialog">
        <div class="modal-content modal-image-content"></div>
    </div>
</div>
{% endblock %}


