{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}


{% block title %}
paramètres|changer le mot de passe
{% endblock %}

{% block content %}
<div class="wrap_user_infos">
    <div class="user_infos">
        <div class="row">
            <div class="col-md-6">
                <div class="user_img user-pass-img">
                    <img class="img-fluid" src="{% if request.user.profile.image %}{{ request.user.profile.image.url }}
                        {% else %}{% static 'images/profile.png' %}{% endif %}" alt="">
                </div>
            </div>
            <div class="col-md-6">
                    <form action="{% url 'accounts:password_change' %}" method="post" id="js_user_form">
                        {% csrf_token %}
                        <div class="modal-header">
                            <h4 class="modal-title">
                                Changer <b>votre</b> mot de passe
                            </h4>
                        </div>
                        <div style="margin-top: 15px;">
                            {% for field in form %}
                            <div class="form-group {% if field.errors %}has-error{% endif %}">
                                <label for="{{ field.id_for_label }}">{{field.label}}</label>
                                {% render_field field class="form-control" %}
                                <small class="form-text text-muted">{{ field.help_text }}</small>
                                {% for error in field.errors %}
                                    <p class="pt-2 pb-2 pl-2 pr-2" style="background-color: #dc3545;border-radius: 7px;">
                                        {{ error }}
                                    </p>
                                {% endfor %}
                                
                            </div>
                            {% endfor %}
                            <div class="form-group">
                                <a href="{% url 'accounts:user_edit' %}" class="btn btn-secondary btn-with" id="annul_form">
                                    Annuler
                                </a>
                                <button type="submit" class="btn btn-success btn-with">Sauvegarder</button>
                            </div>
                        </div>
                    </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}