@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@200;300;400;500;600&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body{
    min-height: 100vh;
    width: 100%;
}

.sidebar{
    position: fixed;
    height: 100%;
    width: 200px;
    background: #006c69;
    transition: all .5s ease;
}

.sidebar.active{
    width: 60px;
}

.sidebar .logo-details{
    height: 80px;
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center; 
    background: #006c69; 
}

.sidebar .logo-details img{
    height: 150px;
    width: 65%;
    object-fit: contain;
}


.sidebar .nav-links{
    margin-top: 35px;    
}

.sidebar .nav-links li{
    height: 50px;
    width: 100%;
    list-style: none;
}

.sidebar .nav-links li a{
   height: 100%;
   width: 100%;
   display: flex;
   align-items: center;
   text-decoration: none;
   transition: all .4s ease;
}

.sidebar .nav-links li a:hover{
    background: #d4ad14 !important;
 }

.sidebar .nav-links li a.active{
    background: #d4ad14 !important;
}

.sidebar .nav-links li a i{
    min-width: 40px;
    text-align: center;
    color: #fff;
    font-size: 25px;
}

.sidebar .nav-links li a .link_name{
    color: #fff;
    font-size: 15px;
    font-weight: 400;
}
/*================home section*/
.home-section{
    background: #fff;
    position: relative;
    min-height: 100vh;
    width: calc(100% - 200px);
    left: 200px;
    transition: all .5s ease;
}

.sidebar.active ~ .home-section{
    width: calc(100% - 40px);
    left: 40px;
}


.home-section nav{
    position: fixed;
    width: calc(100% - 200px);
    z-index: 100;
    left: 200px;
    height: 80px;
    top: 0;
    right: 0;
    background: #fff;
    padding: 0 20px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 5px #ccc;
    justify-content: space-between;
    flex-direction: column;
    transition: all .5s ease;
}

nav .nav-bar-first{
    position: relative;
    top: 15px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.navbar-head{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.sidebar.active ~ .home-section nav{
    width: calc(100% - 40px);
    left: 40px;
}

.home-section nav .sidebar-button{
    display: flex;
    align-items: start;
    font-size: 25px;
    font-weight: 500;
    /* margin-top: -10px; */
}

.home-section nav .sidebar-button i{
    font-size: 35px;
    margin-right: 10px ;
}

.home-section nav .search-box{
    height: 50px;
    width: 550px;
    margin: 0 20px;
    position: relative;
}

nav .search-box input{
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    padding: 0 15px;
    font-size: 17px;
    background: #F5F6FA;
    border: 2px solid #EFEEF1;
    outline: none;
}

nav .search-box .bx-search{
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    height: 40px;
    width: 40px;
    background: #2697FF;
    border-radius: 6px;
    color: #fff;
    font-size: 22px;
    line-height: 40px;
    text-align: center;
}
 
.home-section nav .profile-details{
    position: relative;
    display: flex;
    align-items: center;
    height: 45px;
    min-width: 165px;
    /* background: #F5F6FA; */
    border: 2px solid #006c69 !important;
    border-radius: 6px;
    padding: 0 0px 0 2px;
}

.home-section nav .dropdo{
    position: absolute;
    display: none;
    top: 38px;
    left: 0;
    right: 0;
    background-color: #006c69;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .3);
    border-radius: 7px;
    transition: all .5s ease;
}

.home-section nav .profile-details:hover .dropdo{
    display: block;
}

.home-section nav .dropdo ul{
    list-style: none;
    height: inherit;
}

.dropdo ul li{
    padding: 7px;
}

.dropdo ul li a{
    display: flex;
    align-items: center;
    height: 30px;
    width: 100%;
    font-size: 17px;
    color: #fff;
    text-decoration: none;
}

.dropdo li a i{
    text-align: center;
    margin-right: 5px;
    color: #fff;
    font-size: 20px;
}


.dropdo ul li:hover{
    background-color: #d4ad14;
    border-radius: 7px;
}
nav .profile-details img{
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 6px;
}


.btn-block {
    display: block;
    width: 100px !important;
    float: right;
}

nav .profile-details .admin_name{
    font-size: 14px;
    font-weight: 600;
    color: #333;
    margin: 0 7px;
    white-space: nowrap;
}

nav .profile-details i{
    color: #333;
    font-size: 25px;
}

.home-section .home-content{
    position: relative;
    padding-top: 100px;
}
.home-content .overview-boxes{
    width: 100%;
}

.home-content .overview-boxes .box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 15px 14px;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .3);
}

.home-content .overview-boxes .box_topic{
    font-size: 20px;
    font-weight: 500;
}

.home-content .overview-boxes .number{
    font-size: 35px;
    font-weight: 500;
    margin-top: -5px;
    display: inline-block;
}

.overview-boxes .indicator{
    display: flex;
    align-items: center;
}

.overview-boxes .indicator i{
    height: 20px;
    width: 20px;
    background: #8FDACB;
    color: #fff;
    border-radius: 50%;
    font-size: 20px;
    margin-right: 5px;   
}

.overview-boxes .indicator .text{
    font-size: 12px;
}

.overview-boxes .box .user{
    font-size: 32px;
    font-weight: 500;
    height: 50px;
    width: 50px;
    background: #cce5ff;
    color: #66b0ff;
    line-height: 50px;
    text-align: center;
    border-radius: 6px;
}

.row{
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.table-hover thead{
    background: #006c69;
}

.btn-success{
    background: #006c69 !important;
    outline: none !important;
    border-color: #006c69 !important;
}

.table-hover tbody tr:hover{
    background: #d4ad14 !important;
}

.table thead th {
    vertical-align: middle !important;
    min-width: auto !important;
}


table thead tr th,
table thead tr td{
    color: #fff;
}

table thead tr td{
    min-width: 80px !important;
}

.tab-elmt{
    background: #fff;
    margin-top: 5px;
    max-height: 750px;
    overflow: auto;
}

.recent-action{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background: #fff;
    margin-top: 25px;
}

.recent-action ul{
    list-style: none;
}

.title_fiche{
    padding: 15px 0;
}

.title_fiche h2{
    font-size: 25px;
    text-decoration: underline;
}

button .title{
    display: none;
    transition: all .8s ease;
}

button:hover .title{
    padding: 5px 20px 5px 5px;
    display: block;
    z-index: 100; 
    left: 0px;
    margin: 10px;
    width: 80px;
    position: absolute;
    background: #d4ad14;
    top: 25px;
    border-radius: 0 12px;
}

.modal-header{
    background-color: #006c69 !important;
}

.modal-header h4{
    color: #fff !important;
    font-size: 20px !important;
}

.js_create_person{
    position: relative;
    top: 13px;
}


.form-group textarea{
    width: 100%;
    height: 120px !important;
    outline: none;
    resize: none;
    border-color: #bfbfbf;
    max-height: 230px !important;
 }
 
 textarea:focus{
     border-color: #666b79 !important;  
     border-width: 2px; 
 }
 
 textarea::-webkit-scrollbar{
     width: 0px !important;
 }

 .infos_evang_day{
    border: 2px solid #d4ad14 !important;
    border-radius: 7px;
    transition: all .5s ease;
 }

 .infos_evang_day:hover{
    border: 2px solid #006c69 !important;
 }

 .btn-secondary{
    background-color: #d4ad14 !important;
    border-color: #d4ad14 !important;
    outline: none !important;
 }
 /*====================LOGIN========================*/
 .wrap_login{
    width: 45%;
    max-height: 500px;
    display: flex;
    justify-content: center;
    background-color: #d4ad14;
    border-radius: 7px;
    box-shadow: 5px 5px 16px -10px gray, -5px 5px 16px -10px gray;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 125px;
    padding: 25px 0;
    left: 50%;
    transform: translateX(-55%);
}

.message_block{
    background-color: rgb(224, 69, 69); 
    padding: 5px; 
    border-radius: 7px; 
    display: flex;
    align-items: center;
}

.wrap_detail_img{
    cursor: pointer;
}

@media (min-width: 1200px) {
    .user-pass-img {
        top: 50% !important;
    }
    .user_detail_modal{
        top: 50% !important;
    }
}

@media (min-width: 992px) and (max-width: 1199px){

    .user_img {
        top: 44% !important;
        left: 0px !important;
    }
    .sidebar{
        width: 60px;
    }

    .sidebar.active{
        width: 220px;
    }

    .home-section{
        width: calc(100% - 40px);
        left: 40px;
    }

    .sidebar.active ~ .home-section{
        width: calc(100% - 200px);
        left: 200px;
    }

    .home-section nav{
        width: calc(100% - 40px);
        left: 40px;
    }

    .sidebar.active ~ .home-section nav{
        width: calc(100% - 200px);
        left: 200px;
    }

    .home-content .overview-boxes .box{
        margin-top: 15px;
    }

    .wrap_login{
        width: 60%;   
    }
    
}

@media (min-width: 768px) and (max-width: 991px){
    .modal-image-dialog{
        width: 99% !important;
    }
    .wrap_detail_img{
        height: 350px !important;
        margin-bottom: 25px;
    }
    .sidebar{
        width: 60px;
    }

    .sidebar.active{
        width: 220px;
    }

    .home-section{
        width: calc(100% - 40px);
        left: 40px;
    }

    .sidebar.active ~ .home-section{
        width: calc(100% - 200px);
        left: 200px;
    }

    .home-section nav{
        width: calc(100% - 40px);
        left: 40px;
    }

    .sidebar.active ~ .home-section nav{
        width: calc(100% - 200px);
        left: 200px;
    }

    .home-content .overview-boxes .box{
        margin-top: 15px;
    }

    .wrap_login{
        width: 60%;   
    }

    .user_img{
        height: 300px !important;
        top: 31% !important;
        left: 5px !important;
        width: 300px !important;
    }

}

@media (min-width: 576px) and (max-width: 767px){
    .user_detail_modal{
        top: 50% !important;
        height: 250px !important;
        width: 250px !important;
        /* left: 91px !important; */
        /* display: flex; */
        /* justify-content: center; */
        /* align-items: center; */
    }
    .modal-image-dialog{
        width: 99% !important;
    }
    .wrap_detail_img{
        height: 350px !important;
        margin-bottom: 25px;
    }
    form#form-search-date .form-group {
        width: 75% !important;
    }
    .gallerie-btn-detail{
        margin: 0px !important;
    }
    #id_evang_form {
        padding: 0px !important;
    }
    .wrap_list_boss {
        margin-top: 0px !important;
    }
    .marg-top{
        margin-top: 25px;
        margin-left: -15px;
    }
    .wrap_user_infos .user_infos {
        padding-top: 35px;
    }
    .wrap_user_infos {
        padding: 175px 0px 0px 0px !important;
    }
    .btn-with{
        width: 100%;
        margin: 5px 0px;
    }
    #id_is_superuser {
        top: 0 !important;
    }
    #user_liste{
        margin-top: 15px;
    }
    .user_img {
        height: 200px !important;
        width: 200px !important;
        top: 23% !important;
        left: 29% !important;
        /* display: flex; */
        /* justify-content: center; */
        /* align-items: center; */
    }
    .rempl-infos-submit{
        top: 115px !important;
    }
    .h2{
        padding: 0px 15px 0px 0px;
    }
    #container{
        width: 100% !important;
    }
    .sidebar{
        width: 60px;
    }

    #is_action_ok{
        margin-bottom: 15px;
    }

    .sidebar.active{
        width: 220px;
    }

    .home-section{
        width: calc(100% - 40px);
        left: 40px;
    }

    .sidebar.active ~ .home-section{
        width: calc(100% - 200px);
        left: 200px;
    }

    .home-section nav{
        width: calc(100% - 40px);
        left: 40px;
        height: 18%;
    }

    .sidebar.active ~ .home-section nav{
        width: calc(100% - 200px);
        left: 200px;
    }

    .js_create_person{
        position: relative;
        margin-bottom: 25px;
    }
    
    .home-content .overview-boxes .box{
        margin-top: 15px;
    }

    .wrap_login{
        width: auto;
        top: 50px;
        margin-left: 15px;   
    }

    nav .nav-bar-first{
        flex-direction: column;
        /* height: 27%; */
    }

    .navbar-head{
        flex-direction: column;
    }

    span.dasboard{
        font-size: 20px;
    }

    #is_delete{
        text-align: left;
    }

    .wrap_rempl {
        margin-top: 150px;
    }

    .pd-none{
        padding-top: 0px !important;
    }

    .account-site{
        flex-direction: column;
        justify-content: center;
        padding: 10px 15px 10px 0px;
    }
    .site-evang{
        margin-top: 10px;
    }

    .image_login{
        left: 0px;
    }

    .wrap_login_account{
        margin-top: 70px;
        padding-bottom: 15px;
    }
}

@media (max-width: 575px) {
    .user_detail_modal{
        top: 50% !important;
        height: 200px !important;
        width: 200px !important;
        left: 29% !important;
    }
    .oper-user{
        margin-top: 0px !important;
    }
    .user_update{
        height: 200px !important;
        width: 200px !important;
        top: 40% !important;
    }
    #id_query {
        width: 100% !important;
    }
    .home-section nav .sidebar-button {
        margin-top: -10px;
    }
    .home-section nav .dropdo{
        top: 43px;
    }
    .rapport-person {
        margin-top: -25px !important;
    }
    .rapport-select form input#month {
        width: 99% !important;
    }
    .login-image {
        position: relative;
        display: flex;
        top: 0;
        transform: none;
        padding-top: 15px;
        justify-content: center;
        align-items: center;
    }
    .modal-image-content{
        height: 655px !important;
    }
    .modal-image-dialog{
        width: 99% !important;
    }
    .wrap_detail_img{
        height: 350px !important;
        margin-bottom: 25px;
        float: none;
        clear: none;
        width: 100%;
        margin-right: 0;
    }
    .gallerie_nav{
        height:  18% !important;
    }
    .account_nav{
        
    }

    .gallerie{

    }

    form#form-search-date .form-group {
        width: 75% !important;
    }
    .gallerie-btn-detail{
        margin: 0px !important;
    }
    #id_evang_form {
        padding: 0px !important;
    }
    .wrap_list_boss {
        margin-top: 0px !important;
    }
    .marg-top{
        margin-top: 25px;
        margin-left: -15px;
    }
    .wrap_user_infos .user_infos {
        padding-top: 35px;
    }
    .wrap_user_infos {
        padding: 175px 0px 0px 0px !important;
    }
    .btn-with{
        width: 100%;
        margin: 5px 0px;
    }
    #id_is_superuser {
        top: 0 !important;
    }
    #user_liste{
        margin-top: 15px;
    }
    .user_img {
        height: 200px !important;
        width: 200px !important;
        top: 25% !important;
        left: 20px;
    }
    .rempl-infos-submit{
        top: 115px !important;
    }
    .h2{
        padding: 0px 15px 0px 0px;
    }
    #container{
        width: 100% !important;
    }
    .sidebar{
        width: 60px;
    }

    #is_action_ok{
        margin-bottom: 15px;
    }

    .sidebar.active{
        width: 220px;
    }

    .home-section{
        width: calc(100% - 40px);
        left: 40px;
    }

    .sidebar.active ~ .home-section{
        width: calc(100% - 200px);
        left: 200px;
    }

    .home-section nav{
        width: calc(100% - 40px);
        left: 40px;
        height: 18%;
    }

    .sidebar.active ~ .home-section nav{
        width: calc(100% - 200px);
        left: 200px;
    }

    .js_create_person{
        position: relative;
        margin-bottom: 25px;
    }
    
    .home-content .overview-boxes .box{
        margin-top: 15px;
    }

    .wrap_login{
        width: auto;
        top: 50px;
        margin-left: 15px;   
    }

    nav .nav-bar-first{
        flex-direction: column;
        /* height: 27%; */
    }

    .navbar-head{
        flex-direction: column;
    }

    span.dasboard{
        font-size: 20px;
    }

    #is_delete{
        text-align: left;
    }

    .wrap_rempl {
        margin-top: 150px;
    }

    .pd-none{
        padding-top: 0px !important;
    }

    .account-site{
        flex-direction: column;
        justify-content: center;
        padding: 10px 15px 10px 0px;
    }
    .site-evang{
        margin-top: 10px;
        width: auto !important;
    }

    .image_login{
        left: 0px;
        top: 15px;
    }

    .wrap_login_account{
        padding-top: 25px;
        padding-bottom: 15px;
    }


}