{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block title %}
remplissages|vh-cam:yaoundé
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-5">
        <div class="wrap_config_evan pd-none">
            <h2 class="mb-3 h-deco">Configurer votre moment d'évangelisation</h2>
            <div class="rempl">
                {% if pas_de_oui %}
                <p id="is_delete" class="pt-2 pb-2 pl-2 pr-2">
                    Pas de moment d'évangelisation activé 
                    <a href="{% url 'rempl:liste_site' %}" class="ml-3">
                        <b>veuillez changer celà</b>
                    </a>
                </p>
                {% endif %}

                {% if plusieur_oui %}
                    <p id="is_delete" class="pt-2 pb-2 pl-2 pr-2">
                        Plusieur moment d'évangelisation activer(il faut qu'un seul soit actif)
                        <a href="{% url 'rempl:liste_site'%}" class="ml-3"><b>désactiver certains</b></a>
                    </p>
                {% endif %}
                
                {% if tout_est_non %}
                    <p id="is_delete" class="pt-2 pb-2 pl-2 pr-2">
                        Tout les moments d'évangelisation sont désactivés
                        <a href="{% url 'rempl:liste_site'%}" class="ml-3"><b>Voir la liste</b></a>
                    </p>
                {% endif %}
                <div class="rempl_descrip">
                    <dl class="dl-horizontal"> 
                        {% if evang_oui %}
                        <div class="pt-2">
                            <div class="row">
                                <dt class="col-sm-6">Évangélisation du :</dt> 
                                <dd class="col-sm-6">{{ evang_oui.day|date:"d/m/y" }}</dd> 
                            </div>

                            <div class="row">
                                <dt class="col-sm-6">Créer par :</dt> 
                                <dd class="col-sm-6">{{ evang_oui.author.first_name }} {{ evang_oui.author.last_name }}</dd> 
                            </div>
                            
                            <div class="row">
                                <dt class="col-sm-6">Lieu :</dt> 
                                <dd class="col-sm-6">{{ evang_oui.site }}</dd> 
                            </div>

                            <div class="row">
                                <dt class="col-sm-6">Heure de début :</dt> 
                                <dd class="col-sm-6">{{ evang_oui.heure_de_debut|time:'H:i' }}</dd> 
                            </div>
                        
                            <div class="row">
                                <dt class="col-sm-6">Heure de fin :</dt> 
                                <dd class="col-sm-6">{{ evang_oui.heure_de_fin|time:'H:i' }}</dd>
                            </div>
                
                            <div class="row">
                                <dt class="col-sm-6">Durée :</dt> 
                                <dd class="col-sm-6">{{ evang_oui.dure }}</dd>
                            </div>
                            <div class="row">
                                {% if plusieur_oui %}
                                    <div style="background-color: darkcyan;padding: 7px;width: 100%;">
                                        vous ne pouvez rien faire pour le moment
                                        <a href="{% url 'rempl:liste_site' %}" class="btn btn-link btn-with ml-3">Liste des évangelisations</a>
                                    </div>
                                {% else %}
                                    <a href="{% url 'rempl:change_rempl' evang_oui.id %}" class="btn btn-secondary btn-with ml-3">Modifier</a>
                                    <a href="{% url 'rempl:liste_site' %}" class="btn btn-link ml-3">Liste des évangelisations</a>
                                {% endif %}
                            </div>
                        </div>
                        {% else %}    
                        <div class="pt-2">
                            <div class="row">
                                <dt class="col-sm-6">Évangélisation du :</dt> 
                                <dd class="col-sm-6">-------</dd> 
                            </div>

                            <div class="row">
                                <dt class="col-sm-6">Créer par :</dt> 
                                <dd class="col-sm-6">-------</dd> 
                            </div>
                            
                            <div class="row">
                                <dt class="col-sm-6">Lieu :</dt> 
                                <dd class="col-sm-6">-------</dd> 
                            </div>

                            <div class="row">
                                <dt class="col-sm-6">Heure de début :</dt> 
                                <dd class="col-sm-6">-------</dd> 
                            </div>
                        
                            <div class="row">
                                <dt class="col-sm-6">Heure de fin :</dt> 
                                <dd class="col-sm-6">-------</dd>
                            </div>
                
                            <div class="row">
                                <dt class="col-sm-6">Durée :</dt> 
                                <dd class="col-sm-6">-------</dd>
                            </div>
                        </div>
                        {% endif %}
                    </dl>
                    {% if pas_de_non or pas_de_oui %}
                    <p class="ml-3 pt-3">cliquer sur le bouton pour créer un moment d'évangelisation</p>
                    <a href="{% url 'rempl:add_rempl' %}" class="btn btn-success ml-3 mb-3">Créer</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-7">
        <div class="wrap_list_boss pd-none">
            <h2 class="mb-3 h-deco">
                Liste des boss présent
            </h2> 
            <div class="rempl">
                <div class="table-responsive tab-elmt scroll-tab-elmt-evang-boss">
                    <table class="table table-hover" id="table-evang">
                        <thead>
                            <tr>
                              <th scope="col" rowspan="2">#</th>
                              <th scope="col" rowspan="2">Nom et Prenom</th>
                              <th scope="col" rowspan="2">E-mail</th>
                              <th scope="col" rowspan="2">Phone</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for boss in evang_oui_boss %}
                                <tr>
                                    <th scope="row">{{ forloop.counter }}</th>
                                    <td>{{ boss.first_name }} {{ boss.last_name }}</td>
                                    <td>{{ boss.email }}</td>
                                    <td>{{ boss.profile.phone }}</td>
                                </tr>
                            {% empty %}
                                <p class="tabl_empty">pas de donnée</p>
                            {% endfor %}
                          </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="rempl-inline account-site">
            <div class="rempl_descrip">
                {% if evang_oui.site %}
                <div class="evang-site-nom">
                    <h2 class="ml-3 h-deco">
                        <b>{{ evang_oui.site }}</b>
                     </h2>
                     <small>Lieu du moment d'évangelisaton du  {{ evang_oui.day|date:"d/m/Y" }}</small>
                     <a href="{% url 'rempl:liste_site' %}" class="btn btn-link ml-3">Liste des sites</a>
                </div>
                {% else %}
                <h2 class="ml-3" style="color: #b01f2c;">
                    merci renseigner un site pour ce moment évangelisaton
                </h2>
                <p class="ml-3 pt-3">cliquer sur le bouton pour ajouter un site <br>d'évangelisaton</p>
                <a href="{% url 'rempl:add_site' %}" class="btn btn-success ml-3">Ajouter</a>
                {% endif %}
            </div>
            <div class="site-evang">
                <img class="img-fluid" src="{% if evang_oui.site.image %}{{ evang_oui.site.image.url }}
                    {% else %}{% static 'images/default_lieu.jpg' %}{% endif %}" alt="">
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="head_person_evang">
            <h2 class="h-deco">Personnes évangelisés le {{evang_oui.day|date:"d/m/Y"}}</h2>
            <a href="{% url 'rempl:add_personne' %}" class="btn btn-success btn-with">Ajouter</a>
        </div>
    </div>
    <div class="col-md-12">
        <div class="table-responsive tab-elmt scroll-tab-elmt">
            <table class="table table-bordered table-hover" id="person-evang">
                <thead>
                    <tr>
                        <th scope="col" rowspan="2">#</th>
                        <th scope="col" rowspan="2">Date</th>
                        <th scope="col" rowspan="2">Site dévangelisation</th>
                        <th scope="col" rowspan="2">Nom et prénom</th>
                        <th scope="col" rowspan="2">Contact</th>
                        <th scope="col" rowspan="2">Quartier</th>
                        <th scope="col" colspan="4">Accepté JÉSUS</th>
                        <th scope="col" rowspan="2">Boss</th>
                        <th scope="col" colspan="3">Heure</th>
                        <th scope="col" rowspan="2">Sujets de prière</th>
                        <th scope="col" rowspan="2">Témoignages</th>
                        <th scope="col" rowspan="2">Action</th>
                    </tr>
                    <tr>
                        <td>Oui</td>
                        <td>Non</td>
                        <td>Déjà</td>
                        <td>Indécis</td>
                        <td>Début</td>
                        <td>Fin</td>
                        <td>Durée</td>
                        </tr>
                    </thead>
                    <tbody>
                    {% include 'remplissages/personne/table_person_evang.html' %}
                    </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-personne-detail">
    <div class="modal-dialog modal-lg">
        <div class="modal-content"></div>
    </div>
</div>
{% endblock %}