{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}
Ajouter un suivi | vh-cam:yaoundé
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        
    </div>
    <div class="col-md-12">
        <div class="wrap_rempl">
            <div class="head_person_evang">
                <h2 class="mb-3">{{ form.instance }}</h2>
            </div>
            <div class="rempl">
                <div class="rempl_descrip">
                    <form action="{% url 'suivie:add_suivie' form.instance.pk %}" method="POST">
                        {% csrf_token %}
                        <div class="row pt-3">
                            {% for field in form %}
                            <div class="col-md-6">
                                <div class="form-group {% if field.errors %}has-error{% endif %}">
                                    <label for="{{ field.id_for_label }}">{{field.label}}</label>
                                    {% render_field field class="form-control" %}
                                    <small>{{ field.help_text }}</small>
                                    {% for error in field.errors %}
                                        <p class="pt-2 pb-2 pl-2 pr-2" style="background-color: #dc3545;border-radius: 7px;">
                                            {{ error }}
                                        </p>
                                    {% endfor %}
                                        
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            <a href="{% url 'suivie:index_suivie' %}" class="btn btn-secondary btn-with">Annuler</a>
                            <button type="submit" class="btn btn-success btn-with">Sauvegarder</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}