{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}
modifier {{ evang.day }} | vh-cam:yaounde
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="wrap_rempl">
            <h2 class="mb-3">Modifier<b class="pl-1"> Évangelisation du {{ evang.day }}</b></h2>
            <div class="rempl">
                <div class="rempl_descrip">
                    <form id="id_evang_form" action="{% url 'rempl:change_rempl' evang.id %}" method="POST">
                        {% csrf_token %}
                        <div class="row">
                            {% for field in form %}
                            <div class="col-md-6">
                                <div class="form-group {% if field.errors %}has-error{% endif %}">
                                    <label for="{{ field.id_for_label }}">{{field.label}}</label>
                                    {% render_field field class="form-control" %}
                                    <small class="form-text text-muted">{{ field.help_text }}</small>
                                    {% for error in field.errors %}
                                        <p class="pt-2 pb-2 pl-2 pr-2" style="background-color: #dc3545;border-radius: 7px;">
                                            {{ error }}
                                        </p>
                                    {% endfor %}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="form-group">    
                            <a href="{% url 'rempl:delete_rempl' evang.id %}" class="btn btn-danger btn-with">Supprimer</a>
                            <a href="{% url 'rempl:index_rempl' %}" class="btn btn-secondary btn-with">Annuler</a>
                            <a href="{% url 'gallerie:gallerie_add_image' evang.id %}" class="btn btn-primary btn-with">Ajouter des images</a>
                            <button type="submit" class="btn btn-success btn-with">Valider</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}