h2{
    font-size: 20px;
    padding: 0px 15px 0px 0px;
}

.wrap_rempl{
    margin-top: 150px;
}

.wrap_config_evan{
    margin-top: 150px;  
}

.wrap_list_boss{
    margin-top: 150px;   
}

.rempl{
    box-shadow: 0 0 5px#ccc;
    border: 5px solid #fff;
    background-color:#fff;
    border-radius: 7px;
    margin-bottom: 25px;
}

.rempl_descrip{
    position: relative;
}

.rempl-inline{
    position: relative;
    display: flex;
    align-items: center;
    box-shadow: 0 0 5px#ccc;
    background-color:#fff;
    border-radius: 7px;
    margin-bottom: 25px;
    margin-top: 25px;
}
.rempl_descrip p{
    font-size: 16px;
    font-weight: 600;
}

.add-person-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-evang{
    position: relative;
    margin-left: 15px;
    height: 300px;
    width: 400px;
}

.site-evang img{
    height: inherit;
}

.rempl-infos-submit{
    position: absolute;
    width: 100%;
    top: 82px;
    left: 0px;
    height: 40px;
    z-index: -80;
}
.h-deco{
    display: inline-block;
    border-bottom: 5px solid #b01f2c;
    border-radius: 7px;
}
.evang_form{
    display: none;
}
#id_evang_form{
    padding: 15px;
}

.scroll-tab-elmt{
    max-height: 750px !important;
    overflow: auto;
    margin-bottom: 50px;
}
.scroll-tab-elmt-evang-boss{
    height: 250px !important;
    overflow: auto;
}
#is_save{
    background-color: #35dc59;
    border-radius: 7px;
    text-align: center; 
    color: #fff;
}

#is_update{
    background-color: #2277c7;
    border-radius: 7px;
    text-align: center; 
    color: #fff;
    height: inherit;
}

.displ_none{
    display: none;
}

.div-detail{
    background-color: #f5f5f5; 
    height: 100vh;
    width: 100%;
    margin-bottom: 15px;
}

#is_delete{
    background-color: #b01f2c;;
    border-radius: 7px;
    text-align: center; 
    color: #fff;
}

#none_evang{
    background-color: #cac716;;
    border-radius: 7px;
    text-align: center; 
    color: #fff;
}

.tabl_empty{
    width: 92%;
    position: absolute;
    top: 40%;
    padding: 15px;
    text-align: center;
    font-size: 20px;
}

.head_person_evang{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 10px;
}

.evang-site-nom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #d4ad14; 
    height: 200px;
    padding:20px; 
    margin-left: 15px;
}

.evang-site-nom h2{
    color: #b01f2c;
    font-size: 55px;
    text-align: center;
}